<nav class="navbar navbar-light">
    <a class="navbar-brand" href="#">
        <img src="../../assets/images/" alt="">
    </a>
    <h2 style="color: #28a745;">Admin Console</h2>
</nav>
<!-- <div class="bg-danger mt-2 p-2 text-center text-white" *ngIf="errorMessage != null">
    {{errorMessage}}
</div> -->
<div class="row justify-content-center" style="margin-top: 5%;">

    <div class="col-6">

        <div class="alert alert-danger" role="alert" *ngIf="errorMessage != null">
            {{errorMessage}}
        </div>

        <form novalidate #form="ngForm" (ngSubmit)="authenticate(form)">
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" name="username" [(ngModel)]="username" required />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" name="password" [(ngModel)]="password" required />
            </div>
            <div class="text-center">
                <button class="btn btn-warning m-1" routerLink="/">Go back</button>
                <button class="btn btn-success m-1" type="submit">Log In</button>
            </div>
        </form>
    </div>

</div>